<!DOCTYPE html>
<html class="h-full">
    <head>
        <title>Llamas of the World! | User details</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="./static/styles.css" rel="stylesheet" />
    </head>
    <body class="flex h-full">
        <main class="flex grow flex-col items-center justify-between w-3/5 px-3">
            <div class="max-w-[440px] md:mt-8">
                <div class="flex justify-center m-8">
                    <img src="/static/Logo.png" width="240px" />
                </div>
                <p class="text-center">
                    Llamas of the World is a <strong>premium</strong> online service that helps you find out if a country has llamas; an important question if you consider moving to another country or are making a new friend (if your friend claims to be a llama).
                </p>
            </div>

            <div class="mt-8 pb-12 sm:pb-24 md:pb-36 max-w-[440px]">
                <p class="text-center my-6 text-gray-600">Sign up to Llamas of the World with your credit card.</p>

                <form action="" method="post" 
                    class="grid grid-cols-3 gap-4 md:gap-6"
                >
                    <div class="flex flex-col col-span-3">
                        <label for="cardholder-name">Cardholder name</label>
                        <input type="text" id="cardholder-name" name="cardholder_name"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                        />
                    </div>

                    <div class="flex flex-col col-span-3 md:col-span-2">
                        <label for="card-number">Credit card number</label>
                        <input type="text" id="card-number" name="card_number" 
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                        />
                    </div>

                    <div class="flex flex-col col-span-3 md:col-span-1">
                        <label for="cvv">CVV</label>
                        <input type="text" id="cvv" name="cvv" 
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                        />
                    </div>

                    <button type="submit" 
                        class="rounded-md bg-indigo-500 hover:bg-indigo-600 text-white font-bold p-2 col-span-3"
                    >Submit and go to llama search</button>
                </form>
            </div>
        </main>
        <aside class="w-2/5 bg-gray-100 bg-[url('/static/llama-002.jpg')] bg-center bg-cover hidden md:block">
        </aside>
    </body>
</html>